.post {
    width: 100%;
    height: fit-content;
    max-height: fit-content;
    background: #fff;
    border: 1px solid #dfdfdf;
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}

@media (max-width: 979px) {
    .post {
        margin-top: 100px;
    }
}


.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username {
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options {
    height: 10px;
    cursor: pointer;
}

.info .user {
    display: flex;
    align-items: center;
}

.info .profile-pic {
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .profile-pic img {
    border: 1px solid black;
    border-radius: 50px;
}

.post-image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.post-content {
    width: 100%;
    padding: 20px;
}

.likes {
    font-weight: bold;

}

.react-wrapper {
    display: grid;
    grid-auto-flow: row;
}

.description {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

td {
    padding: 4px;
}

.description .id {
    font-weight: bold;
    margin-right: 10px;
}

.post-time {
    color: rgba(0, 0, 0, 0.5);
}

.comment-wrapper {
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon {
    height: 30px;
}

.comment-box {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.post-content a {
    text-decoration: none;
    color: black;
}

.comment-btn,
.action-btn {
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
    opacity: 0.5;
}

.reaction-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save {
    margin-left: auto;
}

.comment-show {
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.103);
    height: 200px;
    width: 100%;
    overflow-y: scroll;

}

/* Drop Down */
.dropbtn {

    color: white;


    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    min-width: fit-content;
}

.dropdown:hover .dropdown-content {
    min-width: 120px;
    display: inline-block;
}