<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="static/admin/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="static/admin/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="static/admin/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="static/admin/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

   <link href="static/artist/css/styleCustom.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " style="height: fit-content;" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Hi, {{user.1}}</a> 
            </div>
  
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="media/user/profile_pic/{{user.6}}" class="user-image img-responsive"/>
					</li>
				
					<li  >
                        <a   href="home"><i class="fa fa-home fa-3x"></i> Home</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-gear fa-3x"></i> Edit Profile</a>
                    </li>
                    <li>
                        <a  href="addPost"><i class="fa fa-plus fa-3x"></i> Add Post</a>
                    </li>
                    <li>
                        <a  href="ArtistPage?id={{artist.2}}"><i class="fa fa-film fa-3x"></i> My Gallery</a>
                    </li>
					<li>
                        <a href="logout"><i class="fa fa-mail-forward fa-3x"></i> Logout</a>
                    </li>

					
					                   <!-- Multi Level Drop Down list -->
                    <!-- <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>
                               
                            </li>
                        </ul>
                      </li>   -->

                      <!-- End of Drop Down List -->	
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
            {% block content %}
                <section class="grid">
                    {% for i in data %}
                    <div class="grid-item">
                        {% if i.6 == 0 %}
                        <span class="status">Pending</span>
                        <img style="opacity: 0.6;" src="media/artist/uploads/{{i.1}}">

                        {% elif i.6 == 2 %}
                        <span class="status">Rejected</span>
                        <img style="opacity: 0.6;" src="media/artist/uploads/{{i.1}}">
                        
                        {% else %}
                        <img src="media/artist/uploads/{{i.1}}">
                        {% endif %}
                        
                    </div>
                    {% endfor %}
                </section>
            {% endblock %}
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="static/admin/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="static/admin/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="static/admin/js/jquery.metisMenu.js"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="static/admin/js/morris/raphael-2.1.0.min.js"></script>
    <script src="static/admin/js/morris/morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="static/admin/js/custom.js"></script>
    
   
</body>
</html>
